{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react",
    "next/babel"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  }
}
